@import '../../../variables';

.input {
  width: 100%;

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
  }

  input {
    max-height: 100%;
    font-size: 16px;
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 10px;
    display: block;
    width: 100%;

    &[disabled] {
      opacity: 0.8;
    }
  }

  &.has-error {
    input {
      border-color: $error;
    }
  }
}
