@import '../../../variables';

.input {
  width: 100%;

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
  }

  input {
    max-height: 100%;
    font-size: 16px;
    height: 40px;

    &[disabled] {
      opacity: 0.8;
    }
  }

  .ant-input-password {
    height: 40px;
    padding: 0;

    input.ant-input {
      width: 100%;
      display: block;
      padding: 0 40px 0 10px;
    }
  }

  .ant-input-suffix {
    position: absolute;
    background: none;
    margin: 0;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    .ant-input-password-icon {
      font-size: 24px;
      display: block;
    }
  }

  &.has-error {
    .ant-input,
    .ant-input-password {
      border-color: lighten($error, 30);
    }
  }
}
